src/main/resources/publish-service-20161130/topic-publish.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://middleware.intra.bc/api/services/pubsub/push"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="Publish" targetNamespace="http://middleware.intra.bc/api/services/pubsub/push">

	<wsdl:types>
		<xsd:schema targetNamespace="http://middleware.intra.bc/api/services/pubsub/push"
			xmlns:pubsub="http://middleware.intra.bc/api/schema/pubsub"
			xmlns:fault="http://middleware.intra.bc/api/schema/fault"
			elementFormDefault="qualified" attributeFormDefault="unqualified">

			<xsd:import schemaLocation="pubsubmessage.xsd"
				namespace="http://middleware.intra.bc/api/schema/pubsub"></xsd:import>
			<xsd:import schemaLocation="faultmessage.xsd"
				namespace="http://middleware.intra.bc/api/schema/fault"></xsd:import>

			<xsd:element name="PublishRequest" type="tns:PublishRequestType" />

			<xsd:complexType name="PublishRequestType">
				<xsd:sequence>
					<xsd:element name="topicName" type="pubsub:TopicNameType">
						<xsd:annotation>
							<xsd:documentation>
								The messages in the
								request will be
								published on a topic with
								this name.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="messages" type="pubsub:PublishMessagesType" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="PublishResponse" type="tns:PublishResponseType" />

			<xsd:complexType name="PublishResponseType">
				<xsd:sequence>
					<xsd:element name="messageIds" type="pubsub:messageIdType">
						<xsd:annotation>
							<xsd:documentation></xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="PublishFault" type="fault:FaultType" />

		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="PublishRequestMessage">
		<wsdl:part element="tns:PublishRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="PublishResponseMessage">
		<wsdl:part element="tns:PublishResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="PublishFaultMessage">
		<wsdl:part element="tns:PublishFault" name="parameters" />
	</wsdl:message>

	<wsdl:portType name="publish_portype">
		<wsdl:operation name="Publish">
			<wsdl:input message="tns:PublishRequestMessage" />
			<wsdl:output message="tns:PublishResponseMessage" />
			<wsdl:fault name="fault" message="tns:PublishFaultMessage" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="publish_binding" type="tns:publish_portype">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Publish">
			<soap:operation
				soapAction="http://www.proximus.com/middleware/services/pubsub/Publish" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="publish_service">
		<wsdl:port binding="tns:publish_binding" name="publish_port">
			<soap:address location="https://host:port/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
